body, html {
    height:100%
}
  
body {
    display:flex;
    margin:10px;
    flex-direction:column;
    font-family: Arial;
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.box {
    margin:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box > div {
    margin: 1px;
}

#poshlogo {
    max-width: 100%;
    height: 25%;
    width: 30%;
    vertical-align:center;
}
#marketlogo {
    max-width: 100%;
    height: 10%;
    width: 50%;
    vertical-align:center;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 8px 10px; /* Some padding */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }